*{
    font-family: 'Playfair Display', serif;
    font: size 2px;;
    text-wrap: balance;
    margin: 0;
    padding: 0;
}
/* Estilos para la barra de navegación */
.navbar {
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: fixed;
    top: 0; /* Agrega posición fija */


    box-shadow: 2px 10px 20px rgba(9, 13, 232, 0.1); /* Agrega una sombra sutíl */
}

/* Estilos para los botones de navegación */
.navbar-buttons {
    display: flex;
    gap: 10px;
    margin-right: 40px; /* Ajusta el margen derecho para evitar superposición con el logo */
}

.navbar-buttons a {
    color: rgb(0, 94, 255);
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.navbar-buttons a:hover {
    color: #fff;/* color de fuente hover */
}
.navbar-buttons a::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease;
}
.navbar-buttons a:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1);
}
/* Estilos para el logo */
.logo img {
    width: 300px;
    margin: 10px 10px 10px 100px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.contenedor-quienes{
    display: grid;
    width: 90%;
    height: 800px;
    background-image: url(../Imagenes/_45048c45-1f12-4c2a-9b77-d95f95357dc9.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 150px 20px 10px 30px;

}
/* Estilos para el título */
.title {
    grid-template-columns: 1/4;
    grid-template-rows: 1/1;
    text-align: center; 
    margin-top: 90px; 
    margin-bottom: 30px; 
}

.title h1 {
    font-size: 24px; /* Tamaño de fuente personalizado */
}

/* SECCION CONTACTANOS */
/* Agrega estilos para el contenedor principal */
.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

/* Estilos para el mapa */
.map {
    flex: 1; /* El mapa ocupará el espacio disponible en la izquierda */
    margin-left: 30px; /* Espacio entre el mapa y el formulario */
}

.map iframe {
    width: 100%;
    height: 400px;
}

/* Estilos para la información de contacto */
.contact-info {
    flex: 1; /* La información de contacto ocupará el espacio disponible en la derecha */
    margin-left: 30px
}

.contact-info p {
    margin-bottom: 10px;
}

/* Estilos para el formulario de contacto */
.contact-form {
    flex: 1; /* El formulario de contacto ocupará el espacio disponible en la derecha */
}

.contact-form h1 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
}

.contact-form button {
    padding: 10px 20px;
}

/* Estilos para el icono de WhatsApp */
.bi-whatsapp{
    color: rgb(4, 158, 4); 
}


/*PRODUCTOS DE LIMPIEZA*/
.contenedor-tarjetas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

}
.tarjetas {
    display: grid;
    padding: 1rem;
    margin:1rem;
    background-color: aliceblue;
    grid-template-columns: repeat(auto-fill, minmax(22rem,1fr));
    justify-content: center;
}

.tarjeta {
    justify-content: center;
    margin: 20px;
    perspective: 100000px; /* Establece la perspectiva para el efecto de volteo */
    cursor: pointer;
    position: relative; /* Agrega posición relativa */
    height: 35rem;

}

.cara  {
    width: 90%;
    height: 95%;
    backface-visibility: hidden;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.frontal {
    position: relative;
    background-color: #ffffff;
    justify-content: space-between;
}
.frontal p{
    margin: 10px;
    position: static; 
}
.frontal img {
    align-self: center;
    width: auto;
    height: 13rem;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin-bottom: 2rem;
}
.Imagen{
    position: absolute;
    object-fit:fill;
    width: 100%;
    height: 100%;
    filter: brightness(1.1);
    mix-blend-mode:multiply;
}
.trasera {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    top: 0;
    left:0;
    position: absolute;
    background-color: #d6e9eb;
    justify-content: space-around;
    transform: perspective(600px) rotateY(180deg); /* Inicialmente, oculta la cara trasera */
}

.boton-compra {
    background-color: #0370e478;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;
    font-weight: bold;
    position: absolute; /* Agrega posición absoluta */
    bottom: 7%; /* Ajusta la posición vertical del botón */
    left: 45%; /* Centra horizontalmente el botón */
    transform: translateX(-50%); /* Centra horizontalmente el botón */
}

.boton-compra:hover {
    background-color: #025a9e; /* Cambia el color al pasar el ratón */
}

.tarjeta:hover .trasera {
    transform: perspective(600px) rotateY(360deg);
}

.tarjeta:hover .frontal {
    transform: perspective(600px) rotateY(180deg); /* Voltea la tarjeta al pasar el cursor por encima */
}

/*RESPONSIVE
/* Estilos para la barra de navegación en dispositivos más pequeños */
@media only screen and (max-width: 768px) {
    .navbar {
        padding: 10px;
        position: relative;
        z-index: 9; /* Asegura que la barra de navegación esté en la parte superior */
    }

    #menu-toggle {
        display: none; /* Oculta el checkbox por defecto en pantallas más grandes */
    }

    .icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .navbar-buttons {
        flex-direction: column;
        margin-right: 0;
        text-align: center;
        position: absolute;
        top: 100%; /* Coloca el menú debajo de la barra de navegación */
        left: 0;
        width: 100%;
        background-color: #f5faf9; /* Ajusta el color de fondo según sea necesario */
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        display: none; /* Inicialmente oculta el menú */
        z-index: 8; /* Asegura que el menú esté sobre la barra de navegación */
    }

    /* Mostrar el icono solo cuando el menú está oculto */
    #menu-toggle:not(:checked) + .icon {
        display: block;
    }

    /* Mostrar el menú solo cuando el checkbox está marcado */
    #menu-toggle:checked + .navbar-buttons {
        display: flex;
    }

    .navbar-buttons a {
        margin-bottom: 10px;
    }

    .logo img {
        width: 200px;
        margin: 10px auto; /* Centra el logo en dispositivos más pequeños */
    }
}

/* Ajustes para pantallas más grandes */
@media only screen and (min-width: 769px) {
    .navbar-buttons {
        display: flex;
        position: static; /* Restaura la posición estática en pantallas más grandes */
    }
    #menu-toggle {
        display: none; /* Oculta el checkbox por defecto en pantallas más grandes */
    }
    .icon {
        display: none; /* Oculta el icono en pantallas más grandes */
    }
}


/* Estilos para la sección de contacto en dispositivos más pequeños */
@media only screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .map,
    .contact-info,
    .contact-form {
        width: 100%; /* Ocupa todo el ancho en dispositivos más pequeños */
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-bottom: 20px;
    }
}
