# Ignorar todos los archivos .pyc
*.pyc

# Ignorar el directorio python y sus contenidos
python/

# Ignorar los archivos json específicos
datos_compra.json
productos.json
tamanos.json

# Ignorar archivos PDF específicos
Lista_Precios_Min_2023-1.pdf
Productos de Limpieza 2023 - 35.pdf
